@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
    /* font-family: "Open Sans", sans-serif; */
}
body{
    background-color: rgba(69, 46, 84, 0.8);
}

/* header styling */
.header-container{
    display: flex;
    justify-content: space-between;
}

.header-container h1{
    color: white;
    margin: 10px 20px;
    text-shadow: 10px 3px 12px rgb(49, 49, 49);
}
.header-container img{
    margin-left: 10px;
    filter: drop-shadow(10px 3px 12px rgb(49, 49, 49));
    width: 60px;
    height: 60px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav-bar li{
    list-style: none;
    color: white;
    font-weight: 700;
    padding: 10px;
    margin: 15px 5px;
    text-align: center;
    
}
.nav-bar a{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 20px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
}
.top-nav{
    display: none;
}
#small_screen_view{
    display: none;
}
a:hover{
    color: rgb(236, 215, 255);
    background-color: rgba(196, 1, 245, 0.555);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

/* quote styling */
.quote-text {
    margin: auto;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(22deg, rgba(2,0,36,1) 0%, rgba(22,9,121,1) 16%, rgba(0,212,255,1) 100%);
    color: white;
    margin-bottom: 15px;
    box-shadow:0px 8px 12px rgba(0, 0, 0, 0.603);
}
.about-author{
    color: white;
    font-size: 0.9em;
    background: rgb(2,0,36);
    background: linear-gradient(164deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 43%, rgba(0,212,255,1) 100%);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 88%;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0px 8px 12px rgba(0, 0, 0, 0.603);
}
.about-author dt{
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
}
.about-author dt::before{
    content: "* ";
    color: red;
}
article dd{
    margin-left: 30px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

/* question styling */
.question{
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(339deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 16%, rgba(0,212,255,1) 100%);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow:0px 8px 12px rgba(0, 0, 0, 0.603);
}
.question{
    height: 430px;
}
.question h3{
    margin: 20px; 
    text-shadow: 10px 3px 12px rgb(49, 49, 49);
}
.question h4{
    font-size: 20px;
}
.question-contain{
    display: flex;
    justify-content: space-evenly;
}
.image-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 320px;
}
.question-contain img{
    border-radius: 10px;
    width: auto;
    height: 300px;
}
.question form{
    margin: 20px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 2px 10px darkgray;
    border: 1px solid lightblue;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
}

/* question form styling */
form input{
    margin-top: 5px;
    margin-bottom: 5px;    
    width: 100%;
    border-radius: 5px;
    border-style: none;
    padding: 2px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
#form-message textarea{
    padding: 5px;
    margin-bottom: -10px;
    font-family: "Open Sans", sans-serif;
    width:100%;
    border-radius: 10px;
}
form button{
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    transition: 0.4s ease-in-out;
}
form button:hover{
    font-weight: 800;
    color: rgb(236, 215, 255);
    background-color: rgba(196, 1, 245, 0.555);
}

/* social styling */
.media{
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
}
.media h4{
    color: white;
    margin: auto;
    text-shadow: 0px 2px 20px rgb(0, 0, 0);
    box-shadow:0px 8px 12px rgba(0, 0, 0, 0.603);
    width: 40%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 31%, rgba(0,212,255,1) 100%);
}
.social-container{
    display: flex;
    justify-content: space-evenly;
}

.social{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    color: white;
    box-shadow:0px 8px 12px rgba(0, 0, 0, 0.603);
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 31%, rgba(0,212,255,1) 100%);
}
.social img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.social a, #send-button{
    text-decoration: none;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    transition: 0.4s ease-in;
    border-style: none;
}
#send-button{
    margin-top: -10px;
}
.social a:hover, #send-button:hover{
    background-image: url(assets/Send\ icon.png);
    color: rgb(236, 215, 255);
    background-color: rgba(196, 1, 245, 0.555);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    display: none; 
}

#gmail-form {
    color: rgba(255, 255, 255, 0.877);
    font-size: 16px;
    font-weight: 700;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 25%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
    font-family: "Open Sans", sans-serif;
    background: rgb(114,14,163);
    background: linear-gradient(180deg, rgba(114,14,163,1) 26%, rgba(0,212,255,1) 100%);
}
#gmail-form h6{
    font-size: 20px;
    margin-bottom: 20px;
}
#gmail-form label{
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
}
#gmail-form label::before{
    content: "* ";
    color: red;
    margin-left: -10px;
}
#gmail-form #Reason{
    font-size: 16px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    margin-bottom: initial;
}
#gmail-form input{
    margin-bottom: 10px;
    height: 20px;
    text-align: left;
    padding-left: 5px;
}
#gmail-form textarea{
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    width: 95%;
}
#gmail-form div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#gmail-form button{
    margin-top: 10px;
    width: 45%;
    background-color: blueviolet;
    color: white;
    transition: 0.4s ease-in;
}
#gmail-form button:hover{
    color: rgb(241, 240, 240);
    background-color: rgb(162, 81, 238);
}

/* side button/to-top styling */
aside {
    position: fixed;
    background-color: transparent;
    right: 10px;
    bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    display: none;
}

aside img {
    width: 50px;
    height: 50px;
    margin-bottom: -20px;
    border-radius: 50%;
    box-shadow:0px 8px 12px rgba(0, 0, 0, 0.603);
}
aside span{
    background-image:url(assets/not-active-to-top.png);
}
aside img:hover {
    content: url(assets/active-to-top.png);
}
aside img:hover ~ p::after {
    content:"Go to Top";
    display: block;
    font-size: 12px;
    font-weight: 800;
    color: white;
    position: absolute;
    bottom: -10px;
}

aside a {
    text-decoration: none;
    color: white;
}

aside p {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer styling */
footer{
    color: white;
    margin-top: 20px;
    text-align: center;
}

/* Media queries */
@media (max-width:700px) {
    /* header styling */
    .header-container{
        display: flex;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        display: none;
    }
    .header-container h1{
        font-size: 1.1em;
    }
    #big-screen-view{
        display: none;
    }
    #small_screen_view{
        display: flex;
        margin-bottom: 10px;
    }
    .header-container nav{
        display: none;
    }
    .nav-logo{
        display: flex;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
    }
    .nav-logo h1{
        font-size: 1.1em;
        
    }
    .nav-logo img{
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }

    .menu a{
        font-family: "Open Sans", sans-serif;
          font-size: 800;
        text-align: center;
        margin: auto;
        width: 80%;
        text-decoration: none;
        background-color: blueviolet;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        box-shadow: 20px 8px 15px rgba(0, 0, 0, 0.1);
        transition: 0.4s ease-in-out;
    }
    /* copy humberger menu */
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #FFF;
        height: 50px;
        padding: 1em;
      }
      
      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin : 0;
        padding: 0;
      }
      
      .menu > li {
        margin: 0 1rem;
        overflow: hidden;
      }
      
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: "";
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: "";
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
        .menu-button-container {
          display: flex;
        }
      
        .menu {
          position: absolute;
          top: 20px;
          left: 0;
          flex-direction: column;
          width: 100%;
          margin-top: 50px;
          border-radius: 5px;
          justify-content: center;
          align-items: center;
          background: rgb(2,0,36);
          background: linear-gradient(164deg, rgba(2,0,36,1) 0%, rgba(71,9,121,1) 43%, rgba(0,212,255,1) 100%);
        }
      
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      
        #menu-toggle:checked ~ .menu li {
          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
        }
        /* quote text styling */
        .quote-text{
            font-size: 0.8em;
            width: 85%;
        }
        /* about styling */
        .about-author{
            width: 80%;
            font-size: 0.8em;
        }
        /* question styling */
        .question{
            width: 85%;
            height: auto;
        }
        .question h3{
            text-align: center;
            font-size: 1em;
        }
        .question #form-message{
            margin-top: 5px;
            font-size: 0.8em;
        }
        .image-container{
            display: none;
        }

        /* social styling */
        .media{
            width:auto;
            justify-content: space-between;
        }
        .social{
            width: 120px;
            height: 250px;
        }
        .social p, u{
            font-size: 0.8em;
        }
        .social img{
            width: 80px;
            height: 80px;
        }
        .social-container{
            overflow-x: scroll;
        }
        .media h4{
            width: 80%;
        }
        #gmail-form{
            width:320px;
            font-size: 0.8em;
        }
        aside{
            left: 50%; 
            bottom: 0;
            transform: translate(-50%); 
            position: fixed;
        }
        footer{
            font-size: 0.8em;
        }
        footer p{
            margin-bottom: 10px;
        }
      
}
